@model List<swapi_films_rater.Models.ViewModels.FilmListViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="index">
    <h2 class="index__header">Choose your film :)</h2>
    <table class="index__table">
        <thead>
            <tr>
                <th>
                    Episode
                </th>
                <th>
                    Title
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var film in Model)
            {
                <tr>
                    <td>@film.EpisodeId</td>
                    <td>@film.Title</td>
                    <td>
                        @Html.ActionLink("Details", "Details", "Films", new { Id = film.UrlId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>