swapi-films-rater/bin/
swapi-films-rater/obj/
.vs/
swapi-films-rater.DB/bin/
swapi-films-rater.DB/obj/
swapi-films-rater.Models/bin/
swapi-films-rater.Models/obj/
/swapi-films-rater.Repository/bin/
/swapi-films-rater.Repository/obj/
