@model swapi_films_rater.Models.ViewModels.FilmRateViewModel

@{ 
    ViewData["Title"] = $"{Model.Title} Rate";
    Dictionary<string, string> routeDataValues = new Dictionary<string, string>();
    routeDataValues.Add("Id", Model.UrlId.ToString());
}

<section class="rate">
    <h3>@Model.Title</h3>

    <form asp-controller="Films" asp-action="Rate" method="post">
        <div asp-validation-summary="All"></div>

        <input asp-for="UrlId" hidden />
        <input asp-for="EpisodeId" hidden />
        <input asp-for="Title" hidden />


        <div class="form-group">
            <label asp-for="Rate"></label>
            <div class="">
                <input asp-for="Rate" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Username"></label>
            <div class="">
                <input asp-for="Username" class="form-control" />
            </div>
        </div>

        <div>
            <a class="rate__button" asp-controller="Films" asp-action="Details" asp-all-route-data="routeDataValues">Go back</a>
            <input class="rate__button" type="submit" value="Submit" />
        </div>
    </form>
</section>